@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About us";
}

<h1>@ViewData["Title"]</h1>
<h2>Team Members</h2>
<P>Navjot Singh</P>
<P>Navi.7785@gmail.com</P>
<p>435-353-5687</p>

<P>Suhail</P>
<P>suhailtaank201@gmail.com</P>
<p>232-243-2527</p>
